apiVersion: v1
kind: Pod
metadata:
  name: chown-executor
  namespace: "{{ namespace|mandatory }}"
spec:
  restartPolicy: Never
  containers:
  - name: chowner
    image: centos:latest
    command: ["/bin/bash", "-c", "/usr/bin/chown -R {{ uid }}:{{ uid }} /mnt/"]
    volumeMounts:
{% for pvc in pvcs.split(',') %}
    - name: "{{ pvc | checksum }}"
      mountPath: "/mnt/{{ pvc | checksum }}"
{% endfor %}
  volumes:
{% for pvc in pvcs.split(',') %}
  - name: "{{ pvc | checksum }}"
    persistentVolumeClaim:
      claimName: "{{ pvc }}"
{% endfor %}
